@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,600i,700,700i,800,800i|PT+Sans:400,400i,700,700i);
@import url(bootstrap.min.css);
@import url(owl.carousel.css);
@import url(magnific-popup.css);
@import url(../plugins/fontawesome-5/css/fontawesome-all.min.css);